jupyterlab
pandas
matplotlib
numpy
ipython
seaborn
scikit-learn
pillow
torch
torchvision
ninja
# pickle5 # 파이썬 3.8.x 이상에서 사용 3.11은 오류남 내장??
# pickle3 # 파이썬 3.0.x ~ 3.7.x
click
tqdm
requests
pyspng
imageio-ffmpeg==0.4.3
# ==================================================== 고정 ================================================================
networkx
graphviz
pydot
pydotplus
keras_cv_attention_models
glob2
scikit-image
opencv-python

# Ghost Face Net
# 1. Python 3.9.12 64-bit
# 2. TensorFlow 2.8.0 or above (CUDA compatible GPU needed for GPU training)
# 3. Keras 2.8.0 or above
# 4. keras_cv_attention_models
# 5. glob2
# 6. pandas
# 7. tqdm
# 8. sklearn
# 9. scikit-image